# To ignore idea webstorm project folder
.idea

# To ignore node_modules folder
node_modules

# To ignore bower components folder
app/components

# To ignore bower folders
.bower-tmp
.bower-cache
.bower-registry
